<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask Notes</title>
  <link href="https://bootswatch.com/5/superhero/bootstrap.css" rel="stylesheet">
</head>

<body>
  <!-- the entire page -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Flask Notes</a>
      <div class="d-flex flex-fill justify-content-between">
        <ul class="navbar-nav d-flex flex-row">
          {% if 'user_id' in session %}
          <li><a href="/logout">Logout</a></li>

          <form action="/logout" method="POST">
            {{form.hidden_tag()}}
            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
          <li class="nav-item ms-2"><a class="nav-link" href="/tags">Tags</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>
      {% block title %}
      {% endblock %}
    </h1>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flashed-messages-container">
      {% for message in messages %}
      <div class="alert alert-info" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

  </div>
</body>

</html>