<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask Notes</title>
  <link href="https://bootswatch.com/5/superhero/bootstrap.css" rel="stylesheet">
</head>

<body>
  <!-- the entire page -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Flask Notes</a>
      <div class="d-flex flex-fill justify-content-between">
        <ul class="navbar-nav d-flex flex-row">
          {% if 'username' in session %}
            <!-- before every request, attach a csrf token to a flask object
              called g -->
            <!-- <form action="/logout" method="POST">
              <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
              <button type="submit" class="btn btn-primary">Logout</button>
            </form> -->
          {% else %}
            <li><a href="/login" class="btn btn-primary">Login</a></li>
            <li><a href="/register" class="btn btn-primary">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>
      {% block title %}
      {% endblock %}
    </h1>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flashed-messages-container">
      {% for message in messages %}
      <div class="alert alert-info" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

  </div>
</body>

</html>